    /* 1. general */
    /* 2. Header */
    /* 3.Hero */
    /* 4. */

/* CSS Styles */

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

h2 {
    font-size: 64px;
    color: #2a2a2a;
}

p {
    font-size: 26px;
    color: #868686;
}

.grid {
    display: grid;
    padding-left: 132px;
    padding-right: 132px;
    grid-template-columns: repeat(12, 122px);
    grid-column-gap: 16px;
}


/* header */

#main-header{
    grid-column: 1/-1;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 1087px;
}

nav{
    padding: 2% 4%;
    /* justify-content: space-between; */
    align-items: center;
}

#logo {
    grid-column: 1/2;
    width: 135px;
    margin-top: 36px;
    
}
.nav-links{
    grid-column: 7/-1;
    text-align: right;
    margin-top: 40px;
}
/* 
.nav-links ul{
    grid-column: 8/12;
} */

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.fa-close {
    display: none;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 92px;
    font-weight: 600;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 80px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}


@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

/*---------- beer --------*/

#beer{
    display: grid;
    margin: auto;
    text-align: center;
    padding-top: 135px;
    background-color: #fff;
}

#beer h2{
    padding-bottom: 23px;
    text-align: center;
    grid-column: 4/10;
    font-weight: 600;
}
#luxury-taste{
    grid-column: 5/9;
    grid-row: 2/3;
    color: #777;
    font-size: 26px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 95px;
}

#beer-col1 {
    grid-column: 1/4;
    background-color: #fff3f3;
}

#beer-col1{
    grid-row: 3/4;
    grid-column: 1/5;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    height: 293px;
}

#beer-col2{
    grid-row: 3/4;
    grid-column: 5/9;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    height: 293px;
}

#beer-col3{
    grid-row: 3/4;
    grid-column: 9/13;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    
}

#beer h3{
    text-align: center;
    font-weight: 600;
    padding-top: 48px;
    padding-bottom: 38px;
    font-size: 31px;
}

#beer-col1:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#beer-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#beer-col3:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 

/* 5.Arrivals */

#arrivals{
    display: grid;
    margin: auto;
    text-align: center;
    padding-top: 153px;
}

#arrivals h2 {
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
}

#arrivals p {
    grid-column: 3/11;
    grid-row: 2/3;
    padding-top: 22px;
    padding-bottom: 95px;
    line-height: 35px;
    font-size: 22px;
}

#arrivals-col1{
    grid-row: 3/4;
    grid-column: 1/5;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#arrivals-col2{
    grid-row: 3/4;
    grid-column: 5/9;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#arrivals-col3{
    grid-row: 3/4;
    grid-column: 9/13;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#arrivals-col img{
    width: 100%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------- 6. Selling ------------*/

#selling{
    display: grid;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 400px;
}

#selling h2{
    grid-column: 5/9;
    margin-top: 37px;
    font-size: 36px;
    font-weight: 600;
}

#selling p {
    grid-column: 3/11;
    grid-row: 2/3;
    padding-bottom: 88px;
    padding-top: 11px;
}

#selling h3 {
    font-size: 34px;
    font-weight: 400;
}


#selling-col1{
    grid-column: 1/5;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    height: 350px;
}

#selling-col2{
    grid-column: 5/9;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    height: 350px;
}

#selling-col3{
    grid-column: 9/13;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    height: 350px;
}

#selling-col1 img{
    width: 100%;
    border-radius: 10px;
}

#selling-col2 img{
    width: 100%;
    border-radius: 10px;
}

#selling-col3 img{
    width: 100%;
    border-radius: 10px;
}

#selling-col1 p{
    padding: 0;
}

#selling-col2 p{
    padding: 0;
}

#selling-col3 p{
    padding: 0;
}

#selling-col1 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

#selling-col2 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

#selling-col3 h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*------- 7. Testimonial ------------*/

#testimonials{
    display: grid;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

#testimonials h2 {
    grid-column: 4/10;
    padding-bottom: 18px;
}

#testimonials p {
    grid-row: 2/3;
    grid-column: 6/8;
    padding-bottom: 102px;
}

.testimonial-col1{
    grid-row: 3/4;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    grid-column: 1/7;
    height: 250px;
    
}

.testimonial-col2{
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    grid-column: 7/-1;
    height: 250px;
    
}


.testimonial-col-img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col-p{
    display: flex;
    grid-column: 2/7;
    padding: 0;
}

.testimonial-col-p2{
    padding: 0;
}

.testimonial-col-h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col-fa{
    color: #f44336;
}

@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*------- 8. Call To Action ------------*/

.cta{
    margin: 100px auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h2{
    color: #fff;
    margin-bottom: 40px; 
    padding: 0; 
    font-size: 59px;
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

/*------- Contact Us Page ------------*/

#sub-header {
    height: 476px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/background.jpg);
}

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

#title {
    font-size: 51px;
    grid-column: 1/12;
    text-align: center;
    color: #fff;
}

#contact-us{
    display: grid;
    margin: auto;
}
.contact-col{
    grid-column: 1/4;
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
    display: flex;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}

.row {
    grid-column: 1/5;
}

.row2 {
    grid-column: 7/13;
}

textarea {
    width: 91.5%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.hero-btn.red-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
}

.hero-btn.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

button {
    outline: red;
}

.row2 input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.footer-link{
    text-decoration: none;
    color: #777;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    font-size: 35px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
}




.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }

  .col1{
    grid-column: 2/6;
   }
   /* .col2{
    grid-column: 2/2;
   } */
   /* .col3{
    grid-column: 3/3;
   } */


/* ----- Contact Mobile CSS ----- */

.m-container {
    margin: 0 auto;
    max-width: 430px;
    background: #fff3f3;
}

.m-h2-text {
    grid-column: 1/-1;
    text-align: center;
    font-size: 33px;
    color: #fff;
}

.m-grid {
    padding-left: 36px;
    padding-right: 36px;
    grid-template-columns: repeat(4, 82px);
    grid-column-gap: 10px;
} 

#m-main-header {
    display: grid;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/mobile-hero.jpeg);
    height: 492px;
}

#m-main-header a img {
    width: 174px;
    height: 91px;
    margin-top: 34px;
}

#m-main-nav {
    grid-column: 4;
    text-align: right;
    margin-top: 55px;
}

#m-main-nav label img {
    width: 20px;
    height: 20px;
    transition: all .3s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

#m-main-nav input, #burger-con {
    display: none;
}

#m-main-nav input:checked ~ #burger-con {
    display: contents;
}

#m-main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#m-main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#m-main-nav li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#m-main-nav li {
    border-bottom: 1px solid #efefef;
}

#m-main-nav li:first-child {
    border-top: 1px solid #efefef;
}

#m-main-nav li:last-child {
    margin-bottom: 10px;
}

/* --- 4. Location --- */

#m-location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

#m-location iframe{
    width: 100%;
}

#m-contact-col, h5 p{
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

#m-contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

#m-contact-us {
    display: grid;
    text-align: left;
    grid-column: 1/-1;
}

#m-contact-us, span {
grid-column: 1/4;
}

#m-row {
    grid-column: 1/5;
}

/* #m-textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
} */

input {
    width: 91.5%;
}

#m-row input, #m-contact-col textarea{
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.m-hero-btn {
    grid-column: 1/3;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 43px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.m-hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}

.m-hero-btn.red-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
}

.m-hero-btn.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

button {
    outline: red;
}

#icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

#fa-heart-o{
    color: #f44336;
}

/* --- Footer --- */

#m-footer {
    display: grid;
    padding-top: 105px;
}

#m-footer h4{
    
    padding-bottom: 37px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    grid-column: 2/4;
}

#m-footer p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 38px;
    grid-row: 2/3;
    grid-column: 1/5;
}

.m-icons {
    grid-column: 2/4;
    grid-row: 3/4;
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    text-align: center;
}
.fa {
    color: #f44336;
    
}

   /* ----- Homepage Mobile CSS ----- */

.m-hero-btn {
grid-column: 2/4;
grid-row: 4/5;
height: 48px;
text-align: center;
}

#experience {
grid-column: 1/5;
grid-row: 3/4;
text-align: center;
font-size: 16px;
color: #fff;
}

   /* beer */

#m-beer {
    display: grid;
    text-align: center;
    background-color: #fff;
}

#m-beer h2{
    font-size: 44px;
    grid-column: 1/5;
    font-weight: 500;
    margin-top: 100px;
}

#m-beer h3 {
    font-size: 21px;
    margin-bottom: 25px;
}

#m-beer p {
    grid-row: 2/3;
    grid-column: 1/5;
    padding-top: 10px;
    font-size: 19px;
}

#m-beer-col1 {
    grid-row: 3/4;
    grid-column: 1/5;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    height: 143px;
    margin-top: 32px;
}

#m-beer-col2 {
    grid-row: 4/5;
    grid-column: 1/5;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    height: 143px;
}

#m-beer-col3 {
    grid-row: 5/6;
    grid-column: 1/5;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
    height: 143px;
}

#m-beer-col1:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#m-beer-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#m-beer-col3:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Even though on mobile you can't really hover I still put the effect in */


/* arrivals */

#m-arrivals {
    display: grid;
    text-align: center;
    align-items: center;
    background-color: #fff;
}

#m-arrivals h2 {
    font-size: 40px;
    margin-top: 100px;
    grid-column: 1/5;
    padding-bottom: 17px;
}

#m-arrivals p {
    grid-row: 2/3;
    grid-column: 1/5;
    font-size: 18px;
    margin-bottom: 37px;
}

#m-arrivals-col1{
    grid-row: 3/4;
    grid-column: 1/5;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#m-arrivals-col2{
    grid-row: 4/5;
    grid-column: 1/5;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#m-arrivals-col3{
    grid-row:5/6;
    grid-column: 1/5;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

/* selling */

#m-selling{
    display: grid;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

#m-selling h2{
    grid-column: 1/5;
    margin-top: 37px;
    font-size: 41px;
    font-weight: 600;
    margin-bottom: 17px;
    margin-top: 67px;
}

#m-selling h3 {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

#m-selling p {
    grid-column: 1/5;
    grid-row: 2/3;
    padding-bottom: 42px;
    font-size: 18px;
}

#m-selling h3 {
    font-size: 25px;
    font-weight: 400;
}


#m-selling-col1{
    grid-column: 1/5;
    grid-row: 3/4;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

#m-selling-col2{
    grid-column: 1/5;
    grid-row: 4/5;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

#m-selling-col3{
    grid-column: 1/5;
    grid-row: 5/6;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.image {
    width: 100%;
    border-radius: 20px;
}

/*------- . Testimonial ------------*/

#m-testimonials{
    display: grid;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

#m-testimonials h2 {
    grid-column: 1/5;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 13px;
}

#m-testimonials p {
    grid-row: 2/3;
    grid-column: 1/5;
    margin-bottom: 26px;
}

.m-testimonial-col1{
    grid-row: 3/4;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    grid-column: 1/5;
    height: 212px;
    
}

.m-testimonial-col2{
    grid-row: 4/5;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    grid-column: 1/5;
    height: 312px;
    
}

.m-testimonial-col-img{
    grid-column: 1/1;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    float: left;
}

.m-testimonial-col-p{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
}

.m-testimonial-col-p2{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
}

.m-testimonial-col-h3{
    grid-column: 2/5;
    margin-top: 15px;
    text-align: left;
}

.m-testimonial-col-fa{
    color: #f44336;
}

.stars {
    margin-left: 72px;
    font-size: 24px;
    font-weight: 600;
}

/*------- . CTA ------------*/


#m-cta{
    display: grid;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    height: 530px;
}

#m-cta h2{
    color: #fff;
    margin-top: 130px;
    margin-bottom: 40px; 
    padding: 0; 
    font-size: 30px;
    grid-column: 1/5;
}

.m-cta-btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 80px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: 1s;
    grid-column: 2/4;
    height: 28px;
    /* margin-top: -100px; */
}

.m-cta-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}